# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.jar
*.war
*.ear
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE Files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath
.vscode/
*.sublime-workspace
.apt_generated
.springBeans
.sts4-cache

# OS Files
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files and secrets
.env
application-secrets.properties
**/resources/secrets/
secrets.properties

# Build files
/dist/
/build/
/out/
/node_modules/

# Deployment specific
osm-data/
*.osm.pbf